html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    margin-bottom: 58px;
}

nav {
    background-color: rgba(224, 224, 224, 0.688);
    border-bottom: 2px solid #d0d0d0;
}

#button {
    background-color: #30bb37;
    color: white;
    border-color: rgb(51, 160, 37);
    transition: transform .5s;
}

#divTitulo {
    border: solid 0.1em transparent;
    border-bottom-color: #0D729C;
}

#divUsuario{
    border: solid 0.1em transparent;
    border-right-color: #0D729C;
    margin-right: 10px;
}

.row{
    padding-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #0D729C;
}

#logo_footer {
    margin-left: 5px;
}